.clients-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: var(--primary-bg-color); // Dynamic background color
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (min-width: 600px) {
    padding: 20px;
  }

  @media (min-width: 768px) {
    max-width: 90%; // Responsive max-width on larger screens
    padding: 30px;
  }

  @media (min-width: 992px) {
    max-width: 1200px; // Set max-width for large screens
    padding: 40px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 40px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color); // Dynamic text color
  }

  .clients-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    input {
      flex: 1;
      padding: 8px;
      border: 1px solid var(--table-border-color); // Dynamic border color
      border-radius: 4px;
      color: var(--text-color); // Dynamic text color inside input

      &::placeholder {
        color: var(--text-color); // Dynamic placeholder color
      }
    }
  }

  /* This section uses the generic table */
  app-table {
    margin-top: 20px;
  }
}

.add-client-button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
  bottom: 20px; /* Position it 20px from the bottom */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it's above other content */
}

.add-client-button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 25px; /* Round corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase; /* Uppercase text */
}

.add-client-button:hover {
  background-color: #45a049; /* Darken the background on hover */
  transform: translateY(-3px); /* Slight lift on hover */
}

.add-client-button:active {
  transform: translateY(1px); /* Pressed effect */
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Ensure modal is above the rest of the content */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px; /* Control the modal width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.modal-actions button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

.modal-actions button[type="button"] {
  background-color: #f44336;
  color: white;
}
